<!-- views/resetPassword.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
</head>

<body>
    <h1>Đặt lại mật khẩu</h1>
    <p>Bạn đã yêu cầu đặt lại mật khẩu.</p>
    <p>Nhấp vào liên kết bên dưới để đặt lại mật khẩu của bạn:</p>
    <a href="<%= link %>">Đặt lại mật khẩu</a>
    <p>Nếu bạn không yêu cầu điều này, hãy bỏ qua email này.</p>
</body>

</html>